<h2>https://loading.io/css/</h2>

  <app-spinner-circle></app-spinner-circle>
  <app-spinner-default></app-spinner-default>
  <app-spinner-dual-ring></app-spinner-dual-ring>
  <app-spinner-ellipsis></app-spinner-ellipsis>

  <br/> 
  <app-spinner-facebook></app-spinner-facebook>
  <app-spinner-grid></app-spinner-grid>
  <app-spinner-heart></app-spinner-heart>
  <app-spinner-hourglass></app-spinner-hourglass>

  <br/> 
  <app-spinner-ring></app-spinner-ring>
  <app-spinner-ripple></app-spinner-ripple>
  <app-spinner-roller></app-spinner-roller>
  <app-spinner-spinner></app-spinner-spinner>